<data-ng-form name="nestedInformation" id="nestedInformation">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="ddress">Address</label>

                <input type="text" name="address" data-ng-model="item.address" class="form-control" placeholder="Enter business address..." required />

                <span class="text-danger" data-ng-show="nestedInformation.address.$dirty && nestedInformation.address.$error.required">required</span>
            </div>
        </div>
    </div>
</data-ng-form>
