<html data-ng-app="sample">
<head>
	<title>Item Template Sample</title>
	<script>
        document.write('<base href="' + document.location + '" />');
    </script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/bootstrap-theme.min.css">
</head>
<body>


<div style="margin: 25px;" data-ng-controller="sampleController">

<h3>Item Templates</h3>

<ul>
  <li data-ng-repeat="model in models">
    <button data-ng-click="$parent.select(model)">Select</button>
    <item-template template-model="model" />
  </li>
</ul>

<div>
  <item-template template-model="selection" 
                 item-template-settings="{ 
                    templateNameSuffix: '-editor', 
                    handleUndefinedModel: true, 
                    undefinedTemplateName: 'empty-selection' }" />
</div>

<hr />

<ul>
  <li data-ng-repeat="model in otherModels">
    <item-template template-model="model" />
  </li>
</ul>

</div>
	<script type="text/javascript" src="scripts/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="scripts/angular.min.js"></script>
	<script type="text/javascript" src="../src/radical.itemTemplate.js"></script>
	<script type="text/javascript" src="app/application.js"></script>
</body>
</html>